
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: rgb(128, 8, 104);
    color: white;
    height: 65px;
    font-size: 27px ;
    display: flex;
    align-items: center;
    padding: 0 12px;
    
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  
}
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    
    display: flex;
    justify-self: center;
    margin-top: 50px;
    position: relative;
    left: 0;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family:"Roboto", sans-serif; 
    position: relative;

}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(204, 174, 233);
}

.gameInfo{
    padding: 0 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out
}

.br-0{
    border-right:0;

}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;

}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 3px;
    background-color: rgb(215, 175, 215);
    border-radius: 10px;
    cursor: pointer;


}

.line{
    background-color: black;
    height: 5px;
    width: 0;
    position: absolute;
    background-color: rgb(151, 94, 151);
    transition: all 0.3s ease-in-out;
}